# For .pdf files
PyMuPDF
python-multipart

# For FastAPI API
fastapi
uvicorn

# For .docx files
python-docx

# Database
SQLAlchemy
psycopg2-binary    # needed as PostgreSQL driver for SQLAlchemy

# LangChain ecosystem
langchain
langchain_community
langchain_experimental
sentence-transformers
langchain-huggingface
langchain-google-genai
langchain_groq
chromadb

# llama client
llama-cpp-python

# Env management
python-dotenv

# authentication
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-jose[cryptography]

# pandas for average response time calculation
pandas