# For .pdf files
PyMuPDF

fastapi
python-multipart


# For .docx files
python-docx


langchain
langchain_community
langchain_experimental
sentence-transformers
langchain-huggingface
langchain-google-genai
langchain_groq
chromadb

python-dotenv